/* ---------------- GENERELT ----------------*/
*,
html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4EEE1;
}


a,
h1,
h2,
p {
    font-family: 'Raleway', sans-serif;
}

/* ---------------- GENERELT ----------------*/
/* ---------------- COVER ----------------*/
.cover {
    background-image: url("cover.jpg");
    background-size: cover;
    width: 100%;
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------- COVER ----------------*/
/* ---------------- KNAPPER ----------------*/
#menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0 50px 15px;
}

#menu button {
    width: 160px;
}

/* ---------------- KNAPPER ----------------*/

/* ---------------- GRID ----------------*/
#retter {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    margin: 0 5vw 5vw 5vw;
}



.ret {
    background-color: white;

}

.ret img {
    width: 100%;
}

.ret p,
h2 {
    margin-left: 2vw;

}

/* ---------------- GENERELT ----------------*/

/* ---------------- HEADER ----------------*/

#header {
    padding: 0.2px 0 0 30px;
    text-align: left;
    background-color: #2C3539;
    height: 80px;

}

#header h1 {
    margin-top: 25px;
    color: whitesmoke;
    font-size: 25px;
}

/* ---------------- HEADER ----------------*/
/* ---------------- STICKY ----------------*/
.content {
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 10px;
}

/* ---------------- STICKY ----------------*/
/* ---------------- TEKSTER ----------------*/

.tekst {
    text-align: left;
    margin: 30px 15px 5px 15px;
    font-size: 1rem;
}


/* ---------------- TEKSTER ----------------*/
/* ---------------- STYLING PÅ KNAPPER ----------------*/

button {
    background-color: #2C3539;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.valgt {
    background-color: rgba(40, 50, 50, 0.24);


}

/* ---------------- STYLING PÅ KNAPPER ----------------*/
/* ---------------- FOOTER ----------------*/


footer {
    background-color: #2C3539;
    min-height: 100px;
    color: white;
    position: inherit;
    bottom: 0;
    left: 0;
    padding: 5px 0 5px 30px;
}

footer p {
    line-height: 25px;

}

/* ---------------- FOOTER ----------------*/
/* ---------------- POPUP ----------------*/

#popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1111;
}

#box {
    width: 70vw;
    height: 85vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.53);

    z-index: 1111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indhold {
    box-sizing: border-box;
    background-color: white;
    width: 50vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
}

#indhold img {
    object-fit: contain;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

#luk {
    box-sizing: border-box;
    text-align: right;
}

#luk button {
    font-size: 3em;
    background-color: transparent;
    color: white;
}

/* ---------------- POPUP ----------------*/
/* ---------------- PARALAX ----------------*/
.parallax {
    background-image: url(parallax.JPG);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------- PARALAX ----------------*/
/* ---------------- MEDIA ----------------*/

@media only screen and (min-width: 500px) {
    #retter {
        grid-template-columns: 1fr 1fr;
    }




}

@media only screen and (max-width: 500px) {}



@media only screen and (min-width:800px) {
    #retter {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tekst {
        text-align: left;
        margin: 70px 400px 50px 30px;
        ;
        font-size: 1.5rem;
    }

    header h1 {
        margin-left: 130px;
        font-size: 30px;
    }




}

@media only screen and (max-width:800px) {}

/* ---------------- MEDIA ----------------*/
