/* ---------------- GENERELT ----------------*/
*,
html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /*    background-color: #F4EEE1;*/
    /*    background-color: rgb(199, 143, 128);*/
    background: linear-gradient(to left, #e2d5ba, #fff4dc)
        /*    background-color: #fad5a6;*/


}


a,
h1,
h2,
button {
    font-family: 'Italiana', serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

#section {
    /*    background-color: #f4d5da;*/
    /*    background-color: #fbb79e;*/
    background-color: #E1c699;

    /*    background-color: #b39282;*/
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    height: 550px;
}

/* ---------------- GENERELT ----------------*/
/* ---------------- COVER ----------------*/
.cover {
    background-image: url("baggrund.png");
    background-size: cover;
    width: 100%;
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
}

.logo2 {
    background-image: url("logo.svg");
    background-size: contain;
    width: 100%;
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;

}

/* ---------------- COVER ----------------*/
/* ---------------- KNAPPER ----------------*/

.overskrift {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: 'Italiana', serif;
    font-weight: 600;
}

#menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0 50px 15px;
}

#menu button {
    width: 160px;
}

/* ---------------- KNAPPER ----------------*/

/* ---------------- GRID ----------------*/
#retter {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    margin: 0 5vw 5vw 5vw;
}



.ret {
    background-color: white;


}

.ret img {
    width: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;


}

.ret:hover img {
    opacity: 0.5;
}

.ret p,
h2 {
    margin-left: 2vw;

}

/* ---------------- GENERELT ----------------*/

/* ---------------- HEADER ----------------*/

#header {
    padding: 0.2px 0 0 30px;
    text-align: left;
    /*        background-color: #2C3539;*/
    background-color: black;
    height: 80px;

}

#header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin: 0 30px 0 0;
    text-decoration: none;
    font-size: 20px;
    position: relative;

}

#header a:hover {
    color: white;
}

#header a::before {
    content: '';
    display: block;
    height: 5px;

    background-color: white;

    position: absolute;

    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

#header a:hover::before {
    width: 100%;
}

/* ---------------- HEADER ----------------*/
/* ---------------- STICKY ----------------*/
.content {
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 10px;
}

/* ---------------- STICKY ----------------*/
/* ---------------- TEKSTER ----------------*/

.tekst {
    text-align: left;
    margin: 30px 15px 5px 30px;
    font-size: 1.1rem;
}

.tekst2 {
    text-align: left;
    margin: 30px 15px 5px 80px;
    font-size: 1.1rem;
}


/* ---------------- TEKSTER ----------------*/
/* ---------------- STYLING PÅ KNAPPER ----------------*/

button {
    /*    background-color: #2C3539;*/
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



.valgt {
    background-color: rgba(40, 50, 50, 0.24);


}

/* ---------------- STYLING PÅ KNAPPER ----------------*/
/* ---------------- FOOTER ----------------*/


footer {
    background-color: black;
    min-height: 60px;
    color: white;
    position: inherit;
    bottom: 0;
    left: 0;
    padding: 5px 0 5px 30px;
}

footer p {
    line-height: 20px;

}

/* ---------------- FOOTER ----------------*/
/* ---------------- POPUP ----------------*/

#popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1111;
}

#box {
    width: 70vw;
    height: 85vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.53);

    z-index: 1111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indhold {
    box-sizing: border-box;
    background-color: white;
    width: 50vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
}

#indhold img {
    object-fit: contain;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

#luk {
    box-sizing: border-box;
    text-align: right;
}

#luk button {
    font-size: 2.5em;
    background-color: transparent;
    color: white;
    margin-left: 210px;

}

/* ---------------- POPUP ----------------*/
/* ---------------- KONTAKT ----------------*/

#section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100px;
    margin: 10px 0px 0px 30px;
}

#section2 img {
    padding-right: 30px;
    width: 100%;
    height: auto;
}

#section2 .boks1 {
    padding-right: 30px;
}


/* ---------------- KONTAKT ----------------*/




/* ---------------- PARALAX ----------------*/
.parallax {
    background-image: url(parallax.JPG);
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

}



/* ---------------- PARALAX ----------------*/
/* ---------------- MEDIA ----------------*/



@media only screen and (min-width: 500px) {
    #retter {
        grid-template-columns: 1fr 1fr;
    }

    #section {
        height: 650px;
    }

    .tekst {
        margin: 50px 150px 0px 80px;
    }

    #header {
        padding: 0.2px 0 0 80px;
    }


    #section2 img {
        margin-top: 15px;
        width: 380px;
        height: auto;
    }

    #section2 .boks1 {
        margin: 0 0 20px 50px;
        width: 250px;


    }

}

@media only screen and (min-width:800px) {
    #retter {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tekst {
        text-align: left;
        margin: 70px 550px 50px 80px;
        ;
        font-size: 1.5rem;
    }


    #section {
        height: 1000px;
    }

    #header {
        padding: 0.2px 0 0 80px;
    }

    #section2 img {
        width: 600px;
        height: auto;
    }

    #section2 .boks1 {
        margin: 0 0 20px 50px;
        width: 600px;
        line-height: 30px;

    }




}




/* ---------------- MEDIA ----------------*/
